<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- thymeleaf fragment in layouts.html -->
    <head th:replace="layouts :: head"></head>
</head>
<body>

<!-- thymeleaf fragment in layouts.html -->
<div>
    <nav th:replace="layouts :: navbar"></nav>
</div>
<div class="container content">
<h2 style="display: flex; justify-content: center; align-items: center;">405 Error - Action Not Allowed</h2>
<p style="display: flex; justify-content: center; align-items: center; font-size: 16px;">This action is not allowed.</p>
</div>

<!-- thymeleaf fragment in layouts.html -->
<div>
    <footer th:replace="layouts :: footer"></footer>
</div>
</body>
</html>