<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- thymeleaf fragment in layouts.html -->
    <head th:replace="layouts :: head"></head>
</head>
<body>

<!-- thymeleaf fragment in layouts.html -->
<div>
    <nav th:replace="layouts :: navbar"></nav>
</div>

<div class="container content">
    <h2 style="display: flex; justify-content: center; align-items: center;">Unknown Error</h2>
    <p style="display: flex; justify-content: center; align-items: center; font-size: 16px;">Please contact the webmaster.</p>

</div>

<!-- thymeleaf fragment in layouts.html -->
<div class="footer">
    <footer th:replace="layouts :: footer"></footer>
</div>

</body>
</html>