html, body{
    background: white;
    height: 100%;
}

/*sticky footer*/
body {
    display: flex;
    flex-direction: column;

}



.content {
    flex: 1 0 auto;
}
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

}

/*google timeline chart*/

#chart_div{

    display: flex;
    align-items: center;
    justify-content: center;
}



/*.myPieChart {*/
/*    height: 100px !important;*/
/*    width: 200px !important;*/
/*}*/

/*active navs*/
#nav ul li .active {
    color: white;
}

.form-control {
    width: 15rem;
}

/*submit button on all forms*/
.col-2 {
    min-width: 150px;
}

@media only screen and (max-width: 1000px) {

    .navbar {
        min-height: 80px;
    }

    .navbar-brand {
        padding: 0 15px;
        height: 80px;
        line-height: 80px;
    }

    .navbar-toggle {
        /* (80px - button height 34px) / 2 = 23px */
        margin-top: 23px;
        padding: 9px 10px !important;
    }

    @media (min-width: 768px) {
        .navbar-nav > li > a {
            /* (80px - line-height of 27px) / 2 = 26.5px */
            padding-top: 26.5px;
            padding-bottom: 26.5px;
            line-height: 27px;
        }
    }

}

@media only screen and (max-width: 800px) {

}

@media only screen and (max-width: 500px) {

    body {

    }

    ul {
        width: 70%;
        margin: auto;
    }

    .table td, .table th {
        font-size: .5rem;
        padding: 2px;


    }

    .CrudButton {
        transform: scale(.4);
        display: flex;
        margin: 0px;
    }




}

@media only screen and (max-width: 367px) {

}