<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- thymeleaf fragment in layouts.html -->
    <head th:replace="layouts :: head"></head>
</head>
<body>

<!-- thymeleaf fragment in layouts.html -->
<div>
    <nav th:replace="layouts :: navbar"></nav>
</div>

<div class="container content">
    <form th:object="${employee}" th:action="@{/employees/save-update}" method="POST">

<!--        this hidden employeeId is used to bind to the employee that was clicked on for update DB operations-->
        <input type="hidden" th:field="${employee.employeeId}"/>

        <br><br>
        <label>First Name</label>
        <div class="form-group row" style="padding-left: 20px;">
            <input class="form-control" type="text" th:field="${employee.firstName}">
            <span style="color: firebrick" th:if="${#fields.hasErrors('firstName')}"
                  th:errors="${employee.firstName}"></span>
        </div>

        <label>Last Name</label>
        <div class="form-group row" style="padding-left: 20px;">
            <input class="form-control" type="text" th:field="${employee.lastName}">
            <span style="color: firebrick" th:if="${#fields.hasErrors('lastName')}"
                  th:errors="${employee.lastName}"></span>
        </div>

        <label>Email Address</label>
        <div class="form-group row" style="padding-left: 20px;">
            <input class="form-control" type="text" th:field="${employee.email}">
            <span style="color: firebrick" th:if="${#fields.hasErrors('email')}"
                  th:errors="${employee.email}"></span>
        </div>

        <label>Position</label>
        <div class="form-group row" style="padding-left: 20px;">
            <input class="form-control" type="text" th:field="${employee.position}">
            <span style="color: firebrick" th:if="${#fields.hasErrors('position')}"
                  th:errors="${employee.position}"></span>
        </div>

        <label>Manager</label>
        <div class="form-group row" style="padding-left: 20px;">
            <select class="form-control" th:field="${employee.manager}">
                <option th:each = "manager : ${allManagers}"
                        th:value = "${manager.managerId}"
                        th:text = "${manager.firstName} + ' ' + ${manager.lastName}">
                </option>
            </select>
        </div>


        <button class="btn btn-info col-2" type="submit">Update Employee</button>
        <br><br>
    </form>

</div>

<!-- thymeleaf fragment in layouts.html -->
<div class="footer">
    <footer th:replace="layouts :: footer"></footer>
</div>


</body>

</html>