<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- thymeleaf fragment in layouts.html -->
    <head th:replace="layouts :: head"></head>
</head>
<body>

<!-- thymeleaf fragment in layouts.html -->
<div>
    <nav th:replace="layouts :: navbar"></nav>
</div>

<div class="container content">
    <br><br>
    <form th:object="${project}" th:action="@{/projects/save-new}" method="POST">


        <label>Project Name</label>
        <div class="form-group row" style="padding-left: 20px;">
            <input class="form-control" type="text" th:field="${project.name}">
            <span style="color: firebrick" th:if="${#fields.hasErrors('name')}"
                  th:errors="${project.name}"></span>
        </div>

        <label>Project Status</label>
        <div class="form-group row" style="padding-left: 20px;">
            <select class="form-control" th:field="${project.stage}">
                <option th:value="NOTSTARTED"> Not Started</option>
                <option th:value="INPROGRESS"> In Progress</option>
                <option th:value="COMPLETED"> Completed</option>
            </select>
        </div>

        <label>Project Description</label>
        <div class="form-group row" style="padding-left: 20px;">
            <textarea class="form-control" type="text"
                      th:field="${project.description}"></textarea>
            <span style="color: firebrick" th:if="${#fields.hasErrors('description')}"
                  th:errors="${project.description}"></span>
        </div>

        <label>Project Location</label>
        <div class="form-group row" style="padding-left: 20px;">
            <input class="form-control" type="text" th:field="${project.location}">
            <span style="color: firebrick" th:if="${#fields.hasErrors('location')}"
                  th:errors="${project.location}"></span>
        </div>

        <label>Project Manager</label>
        <div class="form-group row" style="padding-left: 20px;">
            <select class="form-control" th:field="${project.managers}">
                <option th:each="manager : ${allManagers}"
                        th:value="${manager.managerId}"
                        th:text="${manager.firstName} + ' ' +${manager.lastName}">
                </option>
            </select>
        </div>

        <label>Project Employees</label>
        <div class="form-group row" style="padding-left: 20px;">
            <select class="form-control" th:field="${project.employees}" multiple="multiple">
                <option th:each="employee : ${allEmployees}"
                        th:value="${employee.employeeId}"
                        th:text="${employee.firstName} + ' ' + ${employee.lastName}">
                </option>
            </select>
        </div>

<!--        start Date, end Date-->

        <label>Start Date</label>
        <div class="form-group row" style="padding-left: 20px;">
            <input id="dp3" type="text" class="mb-4 col-2 col-xs-4" th:field="${project.startDate}">
        </div>
        <label>End Date</label>
        <div class="form-group row" style="padding-left: 20px;">
            <input id="dp4" type="text" class="mb-4 col-2 col-xs-4" th:field="${project.endDate}">
        </div>

<!--        date picker -->
        <script type="text/javascript">
            $('#dp3').datepicker();
            $('#dp4').datepicker();
        </script>

        <button class="btn btn-info col-2" type="submit">Create Project</button>
        <br><br>
    </form>

</div>

<!-- thymeleaf fragment in layouts.html -->
<div>
    <footer th:replace="layouts :: footer"></footer>
</div>



</body>
</html>